.row {
  .x_content {
    table {
      width: 100% !important;
    }
  }
}

.dataTables_paginate {
  width: 100%;
}

td.break_line {
  // white-space: normal !important;
  white-space: pre-wrap !important;
}

pre.clear_border{
  color: inherit;
  background-color: inherit;
  border: 0px;
}
