---
development:
  PCLOUD_API_HOST:
  CERTIFICATE_SERIAL:
  PCLOUD_PRIVATE_KEY:
test:
  PCLOUD_API_HOST: api-pcloud.dev
  CERTIFICATE_SERIAL: '1002'
  PCLOUD_PRIVATE_KEY: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEpgIBAAKCAQEA31ZwhGUzJrjInxc4wey/leyhm6sMt8k4w0NhFLRD8dKt1dyc
    Yc1fge4K+MTB5egq7i+6/4DWzypaqrdRniQ1ZYU6sUb4c8PVQPyPzAXdsB5m2L3U
    a30kGhHdn3fhJnK4mWToJdEd1jF2yMpUmMn+zFzAt5aOmm87plo9iQ8os8OPQGKV
    3KWwxap9Wqjrj9Fjw3bsxHrAJA8FtetjjnbANecvmX8DWujsTI6EQUqJ/4fZdNql
    +NG2Nwi91XXvhiiAskyyXHcntcg9DlU+KhFjqrOiFXufzXk7UZ4a7mALIhp+xGYe
    asYZBpA5yXUnveX7WK3zMCJ9Wgoww1pp0IH+YQIDAQABAoIBAQChSqnj07pHQrgQ
    vRKOas5KFiT4aWW77SSDUEvySeWv5TkJ9FM0Br/s898UnfRyd2NZtTrVf1SjNLFa
    DR5ymS++66LhmKGh6VI/pqaq76mUocAg06dvIWdLNI/btRXzUHKkxU0q0oU7xWlF
    xWmnFmpfaLT9YUwHmEF5+D3sl/gLKdzWEjF2w6PDaoHVJUWVtk48qjDslEjCv7v+
    sNeIX5sk6Iut2K1az7V+fXSxRe675vYT3MByB5gbcfZE3xCkRUrvIJhsuFvHROeW
    LIQSyPqdEH1D1P9oZrTrRw9+A2tsrZKpJ0x1Ngyd/G9BT8K0L6be1We+XJ+bkuWa
    HIIHx6epAoGBAPgLwHFycU2SD2UNwh1V79NSSV+gDEt9zYyfQCYPdexSFozajReu
    MEaPWJCh0Y8pPE4HTDJrdbRzPN3Kpua6da8lHJ9bHCFs0YnBTY6SvojuYn4mIY41
    M0X2QdOvAM68ywT6A1CoFLMgrk02J/PRFlhsn+4KbeDhpaI0+INUBkEbAoGBAOZ/
    2pScSNG4Tf2ddy9aQkvJt9t9j/51/BLb/Ue5GUc5nI5q2LhC19KAY4JebvOqdqy9
    7V0nyAVA2SOgYJl2wjHb4MW6RLoFwrpLSa7hhCzoBnFP3ZgPxn9hKKm/VEfZ4xNV
    Ii5ezMdKCZ5EiF1TFE/iEY3qkDiDlhsw8Fi4H3IzAoGBALnddHKN4sDRdZ+vU4lP
    38llm32AHDZlKiT5H8RlSWOvjx40lgzshVgaCa820iSILZv6c+pEA4sX3sADHlU9
    2vlGwc/XIZkaRVkH8+mlpAhPOJZ2VCaPTsBZ6rGILP69ERPFk75YdEpVbsaEkiNs
    xWW035IrVnJwIwEM2DrwN0+JAoGBALGPah0y6zGLDaFCDQ8QM6PYR2awqhz2XHFW
    wBzhLOTeL4jSLBJ9g24n8v/5qPTRqsvVHyW0wHOzidHU+LUfc+cen18R52F5kJEb
    8C3kkYJaVqQxRt2dwWZcvQtOVSloYnGBEmywIIWgthoSZw2lMy96UdWGDQVL8HUP
    1QYzCB5bAoGBAMZOvlLES3UGAzycrKB5mRfM77GXH/KCxvLCHfTgDoD9qZHRpBiJ
    d7GPV3HC68ei5ELlQVFfwalHkU0H0N05N58OIYXQ1RXqQM1h3M5d+q3sY/K6Ag7q
    YUPETQ3YhFO2KLY+Kq4enGlVvVuCSHpp0ScW0Pu4Wux6yPGJUwymDkrk
    -----END RSA PRIVATE KEY-----
production:
  PCLOUD_API_HOST:
  CERTIFICATE_SERIAL:
  PCLOUD_PRIVATE_KEY: