---
development:
  PUSH_HOST:
  CONSOLE_API_KEY:
  CONSOLE_ACCESS_KEY_ID:
  CONSOLE_PRIVATE_KEY:
  NOTIFICATION_API_KEY:
  NOTIFICATION_ACCESS_KEY_ID:
  NOTIFICATION_PRIVATE_KEY:
test:
  PUSH_HOST: push.myzyxel.ecoworkinc.com
  CONSOLE_API_KEY: console api key
  CONSOLE_ACCESS_KEY_ID: console access key id
  CONSOLE_PRIVATE_KEY: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEpQIBAAKCAQEA27/YAvkiAFEoaS11cFvVlIR1lcFA9LzyZiDzrZdi1xGyhdL5
    TbKEf86Kgs2FT61W/0kdM7nykP/FyTPWUE89OONAgRLkD21Jocb3n+tJbxztF9JS
    /hFN4LmhvvcwvAPFwJwrTA5HuafpfGMPTqLqeGo2VqtjX6pA3YODPRhOvy0InLYK
    egQXd+PYeB9LiXDIWTGqf33zVyaXs0YHI/h0D4kVUT4ZWcZY5TZFUDpdFrvE+jNK
    sqg2X83Bv8ydnfOhlT86IYhdmImxmua/dfsIcPlRIrDR0z/gkDqkk8L9O2F6uC6c
    /wXoj/s4lRcUqkH8f/scPBux53KaqXbHrdkc+wIDAQABAoIBAQCOfPvVGbP5XqaE
    ZIyU2YdI8QbJnvC+gNHwdQdslQ/rAreuXJl4zvtpYASiQh9iBbS2fbMoujbV3HNk
    Pm+FzYuWGozV5OjqM+QduUURdeA84xW9b4yO36uOvu9pQyFfmFaeyOSuQUgy0vTr
    ydPAGpVMlRo84o7iFiZPPhpYAC33eUj+R3MMRCx+E2cvqanE7+213ou9+YIeCXml
    eg5ZWXMlo8ZGDQvMRw3OG8QAnTp6iJAgPzSnnhffz97U9zwcVx4FeD9w5JZ8bLo9
    iZFoShWeNUYuy389xvZWH5LgH0lQ4/hvdk3qZoAgBfTMSl5zmB9kGhdSmYLenzjY
    7351RYJRAoGBAPjNUpFobPNdmBhMT33CiA3UJHWNSJUNMOOIqWvT1CC3OlHDbQyL
    RbAwPoNIhpuMCzkMqXR22S3feOemvxOJgqmtdlLh7O9zL7EiKzBh9qqq6H8Lo8P1
    WJr96DzKurTsxUCCPXbBkGIatNPN9T7yQQeeAFZn+7R+LPc44ZznBXqZAoGBAOIb
    Wf6tDPDAJ+Ya+ZLCixiSRGjE/rvj5kuxxG8ZRjumrW3leS5wIj8kqOZlaGX06i66
    YOu6qyyJ8prThtlX4yTCIz/Vg505qfzX6rFgAoYAdZRoTs76ZyEnj5ZrtbxWv033
    tQf+gNdzaboV6oiszRywhhGUSYAFnMzhKujCKgSzAoGBAMkii857YiC4GD4Eavra
    6cxsJPFXP0cn+87l6zj9bW7pUV9KIn1SlgriZZcSaaeT5nq/TrqVXetkzsRPHAd6
    UkRDs/U7KaVGNFb5rXqWp6e/NOeIDGNdk7zw6O9EYP3kr24AHBpGTyfQOUFFLi8t
    /v5ecB1qQKTgoA9YT6Pda6N5AoGAI+a/5WZI1blNHIZP9nOZbm9bGV+eKutG1+IE
    FLfopPQUOYzkLvFzHp+Nife0GexHet/xH7zmDQ5iTR8lHEGOOXnx6uLWIRLU4ObP
    xxY9kFVmVggx6z9rPKJxdCrqElubyJ96SSiqAIu8z+VG9iip8NI+l2/6M6+wc/+U
    tpyN220CgYEA9ns8Xpec5UT/UNrOdfLXvFnkwgBFXykrfpc3BPs8SaikLUeP7JMK
    9fQGoGxX7KLsJKSdFzjtCjK+PKNrWL+ncmQpFm0PFBa4ZuWt5hFJ9b8FuxX5gNJi
    AHRxmYGMrsgffyVtpD9drpdW7M6ONr6U5PRL/I7RNAiICWFKvx6xF0s=
    -----END RSA PRIVATE KEY-----
  NOTIFICATION_API_KEY: notification api key
  NOTIFICATION_ACCESS_KEY_ID: notification access key id
  NOTIFICATION_PRIVATE_KEY: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAqA/dbzDU/wshOb3V0dOSRsFZ2aAcNMjs5roHG0lV2ClRoubj
    yR9Dwkk/cCKzd+jy2wDt3TQqfCusx4H4XTKveQ4xpur+jLfexkjlgJBz21hlQXRK
    U51tvRrP+sUoKwBoWT31kV7XxCD28wKusOAcNgYHBu9dH6h83ckOCqRqRRJ5Ownd
    /B2JScJCPSaQaD0we6HxQXS0yKzuUQNc8wmqy/KrKXrqpXiCCxsnNevT7zZUyp7G
    POE67YDkqv0fHMxYzajiE5sbLNL41n81SV0CtwufE70Cm0G4NhaDnN8siwAAsMDq
    Lg1mj3d+CU0DO+KJXrZxaqSj3hEAqw0ALDX4hQIDAQABAoIBAE6Hc0HEgJJYAgN4
    F9Q+1yfmqvRMo0Fq7X92R2HRp6Ik1HeZCbDtwfyju1fLby7Fk80PpxXojT2OLuLe
    cU4jI+kd38eOILliJV9jqpGjbe99Y3rtOtnNQvzM7YfQ3k8RlrC0ie2OcqW7fYjZ
    pQUTAzufH2N3L31eflIn4z7HyrxQ/pyYY9TnGdsQUfs+VV20J4iFTeXeJqV9S089
    LeGaw355lILPCWSlGBHGvC3H6E38bwfBtezRl8Q2TQWwbl385aINQaS8yerABjBq
    vc97V/rUzsSm21sALPimQ9md8+0XHtoqmQvez4Zj+Te/PcQwCSVI5ivJm4WD2r46
    vgkvFJUCgYEA1GuTHdSshA7YVAJ9FJDCqcIwtaP/5EgGieiCB8X6XvY81W+0hP5D
    i7AGCF42JUNGSCvUEALCjM5uEKI4m/5hYJKnPf7B4xiS/JXZElG2oczd5e2IR51u
    38OnrHgwemIMb6xdxrz7pVakWpATODx3qrel1EmDsFSdDUGINpMdEycCgYEAyoqS
    Qkd32jODktxnSUxpAJY9qH/FP1sF+H8SiCfLzIfltg5HZxofv2qu8r/ERxZM+/l2
    sNsMdZx6L517wcnIIBLJ5pu0PQ6XRRIJI5NmFH0YIibnKRLYCYDcIZ8A7RIULaJf
    wD/j6B48lUbhLxOql9nzQCe1rTsG9FsrWlbJcnMCgYEAgUKU22o3MIT4DucUxhbw
    3exVR7LsXDWYBQN/XMuUd4TPr/Gxn9w5rh8HDMCHolU1x2UkPjnvuU9EmsqcOBCr
    oOCc9JS51z908k8dMJCY2gyYWvoYG7wpY/Djb4gTt+VCPBJfXjhRyWLX0GQrzeS9
    zRzDxFKX2A0lJJPkF5Gd97ECgYAxW7Gm60m+6BzhVkrpZvCTzwk5neGQvfrngvge
    LCyTLG8DfdlSu+AOws3dpHQNqtaZ9UJCeS9BHh/8qJE3OZhGkK2ZQEqdMogUsf9+
    JvaSeaW+9OISdWAmeLusidYs7+Hw+QgCjs9Yir3S1xIbadyB4wBPmx3AGIlqVSls
    e4feFwKBgBNgOiX5hlVTFZpT15w9My44I1iT1pQBJNm1B1vn82eFMpCDiyA67JV6
    5AuGArOE7bW5BdZ9rXlBr21n2MNB2BnH5gzzTnr+So/hW4IuzvEKXcSUPGFrUjNQ
    VezYVT9iP7tCeJ40HVOw8fX88S32QbTdO8xOXwn6/mf8B8DenNYT
    -----END RSA PRIVATE KEY-----
production:
  PUSH_HOST:
  CONSOLE_API_KEY:
  CONSOLE_ACCESS_KEY_ID:
  CONSOLE_PRIVATE_KEY:
  NOTIFICATION_API_KEY:
  NOTIFICATION_ACCESS_KEY_ID:
  NOTIFICATION_PRIVATE_KEY:
