---
development:
  PUSH_HOST:
  CONSOLE_API_KEY:
  CONSOLE_ACCESS_KEY_ID:
  CONSOLE_PRIVATE_KEY:
  NOTIFICATION_API_KEY:
  NOTIFICATION_ACCESS_KEY_ID:
  NOTIFICATION_PRIVATE_KEY:
test:
  PUSH_HOST: push.myzyxel.ecoworkinc.com
  CONSOLE_API_KEY: console api key
  CONSOLE_ACCESS_KEY_ID: console access key id
  CONSOLE_PRIVATE_KEY: console private key
  NOTIFICATION_API_KEY: notification api key
  NOTIFICATION_ACCESS_KEY_ID: notification access key id
  NOTIFICATION_PRIVATE_KEY: notification private key
production:
  PUSH_HOST:
  CONSOLE_API_KEY:
  CONSOLE_ACCESS_KEY_ID:
  CONSOLE_PRIVATE_KEY:
  NOTIFICATION_API_KEY:
  NOTIFICATION_ACCESS_KEY_ID:
  NOTIFICATION_PRIVATE_KEY:
