---
development:
  PUSH_HOST:
  PUSH_ACCESS_KEY_ID:
  PUSH_PRIVATE_KEY:
test:
  PUSH_HOST: push.myzyxel.ecoworkinc.com
  PUSH_ACCESS_KEY_ID: 660ec58a-a0f2-4ac4-8393-c866d813b8d1
  PUSH_PRIVATE_KEY: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEpQIBAAKCAQEA27/YAvkiAFEoaS11cFvVlIR1lcFA9LzyZiDzrZdi1xGyhdL5
    TbKEf86Kgs2FT61W/0kdM7nykP/FyTPWUE89OONAgRLkD21Jocb3n+tJbxztF9JS
    /hFN4LmhvvcwvAPFwJwrTA5HuafpfGMPTqLqeGo2VqtjX6pA3YODPRhOvy0InLYK
    egQXd+PYeB9LiXDIWTGqf33zVyaXs0YHI/h0D4kVUT4ZWcZY5TZFUDpdFrvE+jNK
    sqg2X83Bv8ydnfOhlT86IYhdmImxmua/dfsIcPlRIrDR0z/gkDqkk8L9O2F6uC6c
    /wXoj/s4lRcUqkH8f/scPBux53KaqXbHrdkc+wIDAQABAoIBAQCOfPvVGbP5XqaE
    ZIyU2YdI8QbJnvC+gNHwdQdslQ/rAreuXJl4zvtpYASiQh9iBbS2fbMoujbV3HNk
    Pm+FzYuWGozV5OjqM+QduUURdeA84xW9b4yO36uOvu9pQyFfmFaeyOSuQUgy0vTr
    ydPAGpVMlRo84o7iFiRPPhpYAC33eUj+R3MMRCx+E2cvqanE7+213ou9+YIeCXml
    eg5ZWXMlo8ZGDQvMRw3OG8QAnTp6iJAgPzSnnhffz97U9zwcVx4FeD9w5JZ8bLo9
    iZFoShWeNUYuy389xvZWH5LgH0lQ4/hvdk3qZoAgBfTMSl5zmB9kGhdSmYLenzjY
    7351RYJRAoGBAPjNUpFobPNdmBhMT33CiA3UJHWNSJUNMOOIqWvT1CC3OlHDbQyL
    RbAwPoNIhpuMCzkMqXR22S3feOemvxOJgqmtdlLh7O9zL7EiKzBh9qqq6H8Lo8P1
    WJr96DzKurTsxUCCPXbBkGIatNPN9T7yQQeeAFZn+7R+LPc44ZznBXqZAoGBAOIb
    Wf6tDPDAJ+Ya+ZLCixiSRGjE/rvj5kuxxG8ZRjumrW3leS5wIj8kqOZlaGX06i66
    YOu6qyyJ8prThtlX4yTCIz/Vg505qfzX6rFgAoYAdZRoTs76ZyEnj5ZrtbxWv033
    tQf+gNdzaboV6oiszRywhhGUSYAFnMzhKujCKgSzAoGBAMkii857YiC4GD4Eavra
    6cxsJPFXP0cn+87l6zj9bW7pUV9KIn1SlgriZZcSaaeT5nq/TrqVXetkzsRPHAd6
    UkRDs/U7KaVGNFb5rXqWp6e/NOeIDGNdk7zw6O9EYP3kr24AHBpGTyfQOUFFLi8t
    /v5ecB1qQKTgoA9YT6Pda6N5AoGAI+a/5WZI1blNHIZP9nOZbm9bGV+eKutG1+IE
    FLfopPQUOYzkLvFzHp+Nife0GexHet/xH7zmDQ5iTR8lHEGOOXnx6uLWIRLU4ObP
    xxY9kFVmVggx6z9rPKJxdCrqElubyJ96SSiqAIu8z+VG9iip8NI+l2/6M6+wc/+U
    tpyN220CgYEA9ns8Xpec5UT/UNrOdfLXvFnkwgBFXykrfpc3BPs8SaikLUeP7JMK
    9fQGoGxX7KLsJKSdFzjtCjK+PKNrWL+ncmQpFm0PFBa4ZuWt5hFJ9b8FuxX5gNJi
    AHRxmYGMrsgffyVtpD9drpdW7M6ONr6U5PRL/I7RNAiICWFKvx6xF0s=
    -----END RSA PRIVATE KEY-----
production:
  PUSH_HOST:
  PUSH_ACCESS_KEY_ID:
  PUSH_PRIVATE_KEY:
