swagger: '2.0'
info:
  title: Push Console App APIs
  description: |
    Push Console App APIs

    ###  Revision History

    **v1.0.0 - Jul. 18 2017**

    1. Initial Release

  version: 1.0.0
  contact:
    email: chouandy@ecoworkinc.com
schemes:
  - https
host: push.myzyxel.com
paths:
  /v1/app_groups/{app_group_id}/apps:
    get:
      summary: 取得 App Group App 列表
      description: 取得 App Group App 列表
      tags:
        - console
      operationId: list_app_group_apps
      produces:
        - application/json
      parameters:
        - name: X-Api-Key
          in: header
          description: Api Gateway Api Key
          required: true
          type: string
        - name: X-Signature
          in: header
          description: 簽證驗證碼
          required: true
          type: string
        - name: X-Timestamp
          in: header
          description: Unix Timestamp。會與 Server Time 的時間比對，判斷此請求是否逾時，也同時讓每次的 Sig. 不同。
          required: true
          type: integer
        - name: access_key_id
          in: query
          description: Access Key 識別碼
          required: true
          type: string
        - name: app_group_id
          in: path
          description: App Group ID
          required: true
          type: string
      responses:
        200:
          description: Response from server.
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                type: string
                description: 訊息回應碼
              message:
                type: string
                description: 系統回應訊息
              data:
                type: array
                items:
                  properties:
                    app_id:
                      type: string
                      description: App ID
                    app_group_id:
                      type: string
                      description: App Group ID
                    name:
                      type: string
                      description: App 名稱
                    description:
                      type: string
                      description: App 描述
                    platform:
                      type: string
                      description: App 平台
                    application_arn:
                      type: string
                      description: App SNS Application
                    topic_arn:
                      type: string
                      description: App SNS Topic
                    app_group_topic_arn:
                      type: string
                      description: App Group Topic ARN
                    bundle_id:
                      type: string
                      description: iOS Bundle ID
                    package_name:
                      type: string
                      description: Android Package Name
                    created_at:
                      type: string
                      description: App 建立時間
                    updated_at:
                      type: string
                      description: App 更新時間
    post:
      summary: 新增所屬 App Group 的 App
      description: 新增所屬 App Group 的 App
      tags:
        - console
      operationId: create_app_group_app
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: X-Api-Key
          in: header
          description: Api Gateway Api Key
          required: true
          type: string
        - name: X-Signature
          in: header
          description: 簽證驗證碼
          required: true
          type: string
        - name: X-Timestamp
          in: header
          description: Unix Timestamp。會與 Server Time 的時間比對，判斷此請求是否逾時，也同時讓每次的 Sig. 不同。
          required: true
          type: integer
        - name: access_key_id
          in: formData
          description: Access Key 識別碼
          required: true
          type: string
        - name: app_group_id
          in: path
          description: App Group ID
          required: true
          type: string
        - name: name
          in: formData
          description: App 名稱
          required: true
          type: string
        - name: description
          in: formData
          description: App 描述
          type: string
        - name: platform
          in: formData
          description: App 平台
          type: string
        - name: package_name
          in: formData
          description: Android Package Name
          type: string
        - name: bundle_id
          in: formData
          description: iOS Bundle ID
          type: string
        - name: certificate
          in: formData
          description: Certificate of iOS App
          type: string
        - name: privateKey
          in: formData
          description: Private Key of iOS App
          type: string
      responses:
        200:
          description: Response from server.
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                type: string
                description: 訊息回應碼
              message:
                type: string
                description: 系統回應訊息
              data:
                type: object
                properties:
                  app_id:
                    type: string
                    description: App ID
  /v1/app_groups/{app_group_id}/apps/{id}:
    get:
      summary: 取得 App Group App 詳細資訊
      description: 取得 App Group App 詳細資訊
      tags:
        - console
      operationId: get_app_group_app
      produces:
        - application/json
      parameters:
        - name: X-Api-Key
          in: header
          description: Api Gateway Api Key
          required: true
          type: string
        - name: X-Signature
          in: header
          description: 簽證驗證碼
          required: true
          type: string
        - name: X-Timestamp
          in: header
          description: Unix Timestamp。會與 Server Time 的時間比對，判斷此請求是否逾時，也同時讓每次的 Sig. 不同。
          required: true
          type: integer
        - name: access_key_id
          in: query
          description: Access Key 識別碼
          required: true
          type: string
        - name: app_group_id
          in: path
          description: App Group ID
          required: true
          type: string
        - name: id
          in: path
          description: App ID
          required: true
          type: string
      responses:
        200:
          description: Response from server.
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                type: string
                description: 訊息回應碼
              message:
                type: string
                description: 系統回應訊息
              data:
                type: object
                properties:
                  app_id:
                    type: string
                    description: App ID
                  app_group_id:
                    type: string
                    description: App Group ID
                  name:
                    type: string
                    description: App 名稱
                  description:
                    type: string
                    description: App 描述
                  platform:
                    type: string
                    description: App 平台
                  application_arn:
                    type: string
                    description: App SNS Application
                  topic_arn:
                    type: string
                    description: App SNS Topic
                  bundle_id:
                    type: string
                    description: iOS Bundle ID
                  package_name:
                    type: string
                    description: Android Package Name
                  created_at:
                    type: string
                    description: App 建立時間
                  updated_at:
                    type: string
                    description: App 更新時間
    put:
      summary: 更新 Access Key
      description: 更新 Access Key
      tags:
        - console
      operationId: put_app_group_access_key
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: X-Signature
          in: header
          description: 簽證驗證碼
          required: true
          type: string
        - name: X-Timestamp
          in: header
          description: Unix Timestamp。會與 Server Time 的時間比對，判斷此請求是否逾時，也同時讓每次的 Sig. 不同。
          required: true
          type: integer
        - name: access_key_id
          in: formData
          description: Access Key 識別碼
          required: true
          type: string
        - name: app_group_id
          in: path
          description: App Group ID
          required: true
          type: string
        - name: id
          in: path
          description: Access Key ID
          required: true
          type: string
        - name: name
          in: formData
          description: Access Key 名稱
          required: true
          type: string
        - name: status
          in: formData
          description: Access Key 狀態
          required: true
          type: string
        - name: description
          in: formData
          description: Access Key 描述
          type: string
      responses:
        200:
          description: Response from server.
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                type: string
                description: 訊息回應碼
              message:
                type: string
                description: 系統回應訊息
              data:
                type: object
                properties:
                  access_key_id:
                    type: string
                    description: Access Key ID
  /v1/app_groups/{app_group_id}/access_keys/{id}/download:
    get:
      summary: 取得 App Group Access Key private key 下載網址
      description: 取得 App Group Access Key private key 下載網址
      tags:
        - console
      operationId: get_app_group_access_key_download_url
      produces:
        - application/json
      parameters:
        - name: X-Signature
          in: header
          description: 簽證驗證碼
          required: true
          type: string
        - name: X-Timestamp
          in: header
          description: Unix Timestamp。會與 Server Time 的時間比對，判斷此請求是否逾時，也同時讓每次的 Sig. 不同。
          required: true
          type: integer
        - name: access_key_id
          in: query
          description: Access Key 識別碼
          required: true
          type: string
        - name: app_group_id
          in: path
          description: App Group ID
          required: true
          type: string
        - name: id
          in: path
          description: Access Key ID
          required: true
          type: string
      responses:
        200:
          description: Response from server.
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                type: string
                description: 訊息回應碼
              message:
                type: string
                description: 系統回應訊息
              data:
                type: object
                properties:
                  download_url:
                    type: string
                    description: Access Key private key 下載網址
