- content_for :console_name, t('common.main.title')
- content_for :title, t('devise.titles.sign_in')

= button_to t('devise.labels.sign_in'), user_myzyxel_omniauth_authorize_url, class: 'btn btn-block btn-success'
