.navbar.nav_title{ style: 'border:0' }
  = link_to root_url, class: 'site_title' do
    = fa_icon('mobile lg')
<<<<<<< HEAD
    %span= t('common.main.title')
=======
    %span RailsApp
>>>>>>> remotes/rails-app/feature/rails5-devise-with-super-admin
.clearfix
